.add-form-content{
    width:300px;
    height:350px;
}

.add-form-tag{
    width:302px;
    margin-bottom:5px;
}

.add-form-tag-item {
    border:inset;
    margin-right:5px;
}

.add-form-tag-list {
    margin-top:5px;
    margin-bottom:5px;
}

.add-form-btn {
    width:306px;
}

.search-form-input {
    margin-right: 5px;
}

.search-form-btn {
    margin-right: 5px;
}